In [185]:
import selenium 
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.webdriver.common.by import By
import time
from selenium.webdriver import ActionChains, Keys
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.support import expected_conditions as EC
import urllib

1.Scrape the details of most viewed videos on YouTube from Wikipedia. Url 
= https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos You need to find following details: A)
Rank 
B) Name 
C) Artist 
D) Upload date 
E) Views

In [66]:
#opening the hostelworld page on automated chrome browser
driver=webdriver.Chrome()
driver.get(" https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos")
#maximize chrome window
driver.maximize_window()

In [68]:
Name=[]
Artist=[]
Upload=[]
Views=[]

video_details= driver.find_elements(By.XPATH,'//*[@id="mw-content-text"]/div[1]/table[1]/tbody/tr')
i=1
for video in video_details:
    Name_1= driver.find_element(By.XPATH,'//*[@id="mw-content-text"]/div[1]/table[1]/tbody/tr['+str(i)+']/td[1]').text
    Name.append(Name_1)

    Artist_1= driver.find_element(By.XPATH,'//*[@id="mw-content-text"]/div[1]/table[1]/tbody/tr['+str(i)+']/td[2]').text
    Artist.append(Artist_1)

    Upload_1= driver.find_element(By.XPATH,'//*[@id="mw-content-text"]/div[1]/table[1]/tbody/tr['+str(i)+']/td[4]').text
    Upload.append(Upload_1)

    Views_1= driver.find_element(By.XPATH,'//*[@id="mw-content-text"]/div[1]/table[1]/tbody/tr['+str(i)+']/td[3]').text
    Views.append(Views_1)
    
    i =i+1
    
df = pd.DataFrame({'Video Name':Name,'Artist':Artist,'Upload':Upload,'Views':Views})
df

,Video Name,Artist,Upload,Views
0,"""Baby Shark Dance""[7]",Pinkfong Baby Shark - Kids' Songs & Stories,"June 17, 2016",14.52
1,"""Despacito""[10]",Luis Fonsi,"January 12, 2017",8.44
2,"""Johny Johny Yes Papa""[18]",LooLoo Kids - Nursery Rhymes and Children's Songs,"October 8, 2016",6.91
3,"""Bath Song""[19]",Cocomelon - Nursery Rhymes,"May 2, 2018",6.70
4,"""See You Again""[20]",Wiz Khalifa,"April 6, 2015",6.27
5,"""Shape of You""[25]",Ed Sheeran,"January 30, 2017",6.26
6,"""Wheels on the Bus""[28]",Cocomelon - Nursery Rhymes,"May 24, 2018",6.13
7,"""Phonics Song with Two Words""[29]",ChuChu TV Nursery Rhymes & Kids Songs,"March 6, 2014",5.80
8,"""Uptown Funk""[30]",Mark Ronson,"November 19, 2014",5.23
9,"""Gangnam Style""[31]",Psy,"July 15, 2012",5.15
10,"""Learning Colors – Colorful Eggs on a Farm""[36]",Miroshka TV,"February 27, 2018",5.11
11,"""Dame Tu Cosita""[37]",Ultra Records,"April 5, 2018",4.63
12,"""Masha and the Bear – Recipe for Disaster""[38]",Get Movies,"January 31, 2012",4.58
13,"""Axel F""[39]",Crazy Frog,"June 16, 2009",4.54
14,"""Baa Baa Black Sheep""[40]",Cocomelon - Nursery Rhymes,"June 25, 2018",4.05
15,"""Sugar""[41]",Maroon 5,"January 14, 2015",4.05
16,"""Lakdi Ki Kathi""[42]",Jingle Toons,"June 14, 2018",4.04
17,"""Counting Stars""[43]",OneRepublic,"May 31, 2013",4.02
18,"""Roar""[44]",Katy Perry,"September 5, 2013",4.00
19,"""Waka Waka (This Time for Africa)""[45]",Shakira,"June 4, 2010",3.93
20,"""Shree Hanuman Chalisa""[46]",T-Series Bhakti Sagar,"May 10, 2011",3.84
21,"""Humpty the train on a fruits ride""[47]",Kiddiestv Hindi - Nursery Rhymes & Kids Songs,"January 26, 2018",3.81
22,"""Sorry""[48]",Justin Bieber,"October 22, 2015",3.80
23,"""Thinking Out Loud""[49]",Ed Sheeran,"October 7, 2014",3.77
24,"""Perfect""[50]",Ed Sheeran,"November 9, 2017",3.74
25,"""Dark Horse""[51]",Katy Perry,"February 20, 2014",3.72
26,"""Let Her Go""[52]",Passenger,"July 25, 2012",3.66
27,"""Faded""[53]",Alan Walker,"December 3, 2015",3.63
28,"""Girls Like You""[54]",Maroon 5,"May 31, 2018",3.61
29,"""Lean On""[55]",Major Lazer Official,"March 22, 2015",3.60

2. Scrape the details team India’s international fixtures from bcci.tv. 
Url = https://www.bcci.tv/. 
You need to find following details: 
A) Series 
B) Place 
C) Date 
D) Time 
Note: - From bcci.tv home page you have reach to the international fixture page through code.

In [157]:
#opening the amazon page on automated chrome browser
driver=webdriver.Chrome()
driver.get("https://www.bcci.tv/")
#maximize chrome window
driver.maximize_window()

In [158]:
internation_fixture = driver.find_element(By.XPATH, '//*[@id="imw-international-men"]/a[2]')
internation_fixture.click()
time.sleep(10)

In [159]:
Series=[]
Place=[]
Date=[]
Time=[]

Series_data= driver.find_elements(By.XPATH, '//h5[@class="match-tournament-name ng-binding"]')
for i in range(len(Series_data)):
    Series_1= Series_data[i].text
    Series.append(Series_1)
    
Place_data= driver.find_elements(By.XPATH, '//div[@class="match-venue ng-scope"]')
for i in range(len(Place_data)):
    Place_1= Place_data[i].text
    Place.append(Place_1)
    
series_Date= driver.find_elements(By.XPATH, '//div[@class="match-dates ng-binding"]')
for i in range(len(series_Date)):
    Date_1= series_Date[i].text
    Date.append(Date_1)
    
series_Time= driver.find_elements(By.XPATH, "//div[@class='match-time no-margin ng-binding']")
for i in range(len(series_Time)):
    Time_1= series_Time[i].text
    Time.append(Time_1)

df=pd.DataFrame({"Series":Series,"Place":Place,"Date":Date,"Time":Time})
df

,Series,Place,Date,Time
0,ICC Mens T20 World Cup 2024,"Nassau County International Cricket Stadium, N...",9 Jun,20:00 IST
1,ICC Mens T20 World Cup 2024,"Nassau County International Cricket Stadium, N...",12 Jun,20:00 IST
2,South Africa Women Tour Of India Warm Up Match...,"M Chinnaswamy Stadium, Bengaluru",13 Jun,13:30 IST
3,ICC Mens T20 World Cup 2024,"Central Broward Park & Broward County Stadium,...",15 Jun,20:00 IST
4,South Africa Women Tour Of India Odi Series 2024,"M Chinnaswamy Stadium, Bengaluru",16 Jun,13:30 IST

3.Scrape the details of State-wise GDP of India from statisticstime.com. 
Url = http://statisticstimes.com/ 
You have to find following details: A) Rank 
B) State 
C) GSDP(18-19)- at current prices 
D) GSDP(19-20)- at current prices 
E) Share(18-19) 
F) GDP($ billion) 
Note: - From statisticstimes home page you have to reach to economy page through code.

In [118]:
#opening the amazon page on automated chrome browser
driver=webdriver.Chrome()
driver.get("http://statisticstimes.com/")
#maximize chrome window
driver.maximize_window()
time.sleep(5)

we = driver.find_element(By.XPATH,"//*[@id='top']/div[2]/div[2]/button")
time.sleep(3)

# Create an ActionChains object
actions = ActionChains(driver)

# Hover over the 'Jobs' element
actions.move_to_element(we).perform()
time.sleep(5)

India_Economy= driver.find_element(By.XPATH,"//*[@id='top']/div[2]/div[2]/div/a[3]").click()
time.sleep(10)

#To remove pop-up
driver.refresh()

we = driver.find_element(By.XPATH,"//*[@id='top']/div[2]/div[2]/button")
time.sleep(3)

# Create an ActionChains object
actions = ActionChains(driver)

# Hover over the 'Jobs' element
actions.move_to_element(we).perform()
time.sleep(5)

India_Economy= driver.find_element(By.XPATH,"//*[@id='top']/div[2]/div[2]/div/a[3]").click()
time.sleep(10)


GDP= driver.find_element(By.XPATH,"/html/body/div[2]/div[2]/div[2]/ul/li[1]/a").click()
time.sleep(3)

Rank=[]
State=[]
GSDP_21_22=[]
GSDP_22_23=[]
Share_21_22=[]
GDP=[]

State_Rank= driver.find_elements(By.XPATH,"//*[@id='table_id']/tbody/tr/td[1]")
for rnk in State_Rank:
    Rank.append(rnk.text)

State_Name= driver.find_elements(By.XPATH,"//*[@id='table_id']/tbody/tr/td[2]")
for name in State_Name:
    State.append(name.text)

GSDP_21= driver.find_elements(By.XPATH,"//*[@id='table_id']/tbody/tr/td[5]")
for GSDP_1 in GSDP_21:
    GSDP_21_22.append(GSDP_1.text)

GSDP_22= driver.find_elements(By.XPATH,"//*[@id='table_id']/tbody/tr/td[4]")
for GSDP_2 in GSDP_22:
    GSDP_22_23.append(GSDP_2.text)

Share_21= driver.find_elements(By.XPATH,"//*[@id='table_id']/tbody/tr/td[6]")
for share in Share_21:
    Share_21_22.append(share.text)

GDP_doller= driver.find_elements(By.XPATH,"//*[@id='table_id']/tbody/tr/td[7]")
for GDP_1 in GDP_doller:
    GDP.append(GDP_1.text)

df=pd.DataFrame({"Rank":Rank,"State":State,"GSDP(21-22)":GSDP_21_22,"GSDP(22-23)":GSDP_22_23,"Share(21-22)":Share_21_22,"GDP":GDP})
df

,Rank,State,GSDP(21-22),GSDP(22-23),Share(21-22),GDP
0,1,Maharashtra,"3,108,022",-,13.17%,414.928
1,2,Tamil Nadu,"2,071,286","2,364,514",8.78%,276.522
2,3,Karnataka,"1,978,094","2,269,995",8.38%,264.080
3,4,Uttar Pradesh,"1,975,595","2,258,040",8.37%,263.747
4,5,Gujarat,"1,928,683","2,230,609",8.17%,257.484
5,6,West Bengal,"1,329,238","1,531,758",5.63%,177.456
6,7,Rajasthan,"1,193,489","1,365,849",5.06%,159.334
7,8,Andhra Pradesh,"1,148,471","1,303,524",4.87%,153.324
8,9,Telangana,"1,124,204","1,308,034",4.76%,150.084
9,10,Madhya Pradesh,"1,092,964","1,246,471",4.63%,145.913
10,11,Kerala,"934,542","1,046,188",3.96%,124.764
11,12,Delhi,"881,336","1,014,688",3.73%,117.660
12,13,Haryana,"868,905","984,055",3.68%,116.001
13,14,Odisha,"662,886","753,177",2.81%,88.497
14,15,Bihar,"650,302","751,396",2.76%,86.817
15,16,Punjab,"617,192","676,164",2.62%,82.397
16,17,Assam,"411,454","493,167",1.74%,54.930
17,18,Chhattisgarh,"410,525","464,399",1.74%,54.806
18,19,Jharkhand,"358,863","393,722",1.52%,47.909
19,20,Uttarakhand,"267,143","303,781",1.13%,35.664
20,21,Jammu & Kashmir,"193,352","224,226",0.82%,25.813
21,22,Himachal Pradesh,"172,162","191,728",0.73%,22.984
22,23,Goa,"84,266","93,672",0.36%,11.250
23,24,Tripura,"62,550","72,636",0.27%,8.351
24,25,Chandigarh,"46,096","54,285",0.20%,6.154
25,26,Puducherry,"43,810","49,643",0.19%,5.849
26,27,Meghalaya,"38,785","42,697",0.16%,5.178
27,28,Sikkim,"37,557","42,756",0.16%,5.014
28,29,Manipur,"36,594",-,0.16%,4.885
29,30,Arunachal Pradesh,"34,775","39,630",0.15%,4.643
30,31,Nagaland,"31,038","35,643",0.13%,4.144
31,32,Mizoram,"27,824",-,0.12%,3.715
32,33,Andaman & Nicobar Islands,"10,371",-,0.04%,1.385

4. Scrape the details of trending repositories on Github.com. 
Url = https://github.com/ 
You have to find the following details: 
A) Repository title 
B) Repository description 
C) Contributors count 
D) Language used

In [125]:
#opening the amazon page on automated chrome browser
driver=webdriver.Chrome()
driver.get("https://github.com/")
#maximize chrome window
driver.maximize_window()

In [126]:
we = driver.find_element(By.XPATH,"/html/body/div[1]/div[1]/header/div/div[2]/div/nav/ul/li[3]")
time.sleep(3)

# Create an ActionChains object
actions = ActionChains(driver)

# Hover over the 'Jobs' element
actions.move_to_element(we).perform()
time.sleep(3)
driver.find_element(By.XPATH,"/html/body/div[1]/div[1]/header/div/div[2]/div/nav/ul/li[3]/div/div[3]/ul/li[2]/a").click()

In [156]:
Repository_title=[]
Repository_description=[]
Contributors_count=[]
Language_used=[]

title= driver.find_elements(By.XPATH,"//article[@class='Box-row']/h2/a")
for titl in title:
    Repository_title.append(titl.text)


count= driver.find_elements(By.XPATH,"//div[@class='f6 color-fg-muted mt-2']")

for total in count:
    Contributors_count.append(total.text)


for indexVal in range(1,len(count)+1):
    try:
        Language= driver.find_element(By.XPATH,"//div[@class='position-relative container-lg p-responsive pt-6']/div/div[2]/article[" +str(indexVal)+ "]/div[2]/span[1]/span[2]")
        Language_used.append(Language.text)
    except:
        skills="-"
        Language_used.append(skills)

for indexVal in range(1,len(count)+1):
    try:
        description= driver.find_element(By.XPATH,"//div[@class='position-relative container-lg p-responsive pt-6']/div/div[2]/article[" +str(indexVal)+ "]/p")
        Repository_description.append(description.text)
    except:
        description="-"
        Repository_description.append(description)

    
df=pd.DataFrame({"Repository title":Repository_title,"Repository description":Repository_description,"Contributors count":Contributors_count,"Language used":Language_used})
df

,Repository title,Repository description,Contributors count,Language used
0,idootop / mi-gpt,🏠 将小爱音箱接入 ChatGPT 和豆包，改造成你的专属语音助手。,"TypeScript 2,107 151 Built by\n289 stars today",TypeScript
1,jordanbaird / Ice,Powerful menu bar manager for macOS,"Swift 6,592 135 Built by\n1,882 stars today",Swift
2,microsoft / generative-ai-for-beginners,"18 Lessons, Get Started Building with Generati...","Jupyter Notebook 46,578 25,465 Built by\n296 s...",Jupyter Notebook
3,hackerb9 / lsix,"Like ""ls"", but for images. Shows thumbnails in...","Shell 3,660 125 Built by\n149 stars today",Shell
4,KenneyNL / Adobe-Alternatives,A list of alternatives for Adobe software,"3,083 127 Built by\n555 stars today",-
5,xenova / transformers.js,State-of-the-art Machine Learning for the web....,"JavaScript 8,205 458 Built by\n136 stars today",JavaScript
6,google / mesop,-,"Python 1,296 53 Built by\n298 stars today",Python
7,delta-io / delta,An open-source storage framework that enables ...,"Scala 7,088 1,604 Built by\n77 stars today",Scala
8,livekit / livekit,End-to-end stack for WebRTC. SFU media server ...,"Go 8,274 664 Built by\n158 stars today",Go
9,hiddify / hiddify-next,"Multi-platform auto-proxy client, supporting S...","Dart 11,294 1,030 Built by\n135 stars today",Dart
10,k2-fsa / sherpa-onnx,"Speech-to-text, text-to-speech, and speaker re...","C++ 1,239 209 Built by\n27 stars today",C++
11,huggingface / lerobot,🤗 LeRobot: End-to-end Learning for Real-World ...,"Python 3,407 252 Built by\n19 stars today",Python
12,TheRealJoelmatic / RemoveAdblockThing,"The intrusive ""Ad blocker are not allowed on Y...","JavaScript 5,639 304 Built by\n146 stars today",JavaScript
13,openssl / openssl,TLS/SSL and crypto library,"C 24,630 9,872 Built by\n84 stars today",C

5. Scrape the details of top 100 songs on billiboard.com. Url = https:/www.billboard.com/ You have to find the 
following details: 
A) Song name 
B) Artist name 
C) Last week rank 
D) Peak rank 
E) Weeks on board 
 Note: - From the home page you have to click on the charts option then hot 100-page link through code.

In [54]:
#opening the amazon page on automated chrome browser
driver=webdriver.Chrome()
driver.get("https:/www.billboard.com/")
#maximize chrome window
driver.maximize_window()

In [55]:
charts_option = driver.find_element(By.XPATH, "//*[@id='main-wrapper']/header/div/div[2]/div/div/div[2]/div[2]/div/div/nav/ul/li[1]/a")
charts_option.click()
time.sleep(20)
Billboard_hot100= driver.find_element(By.XPATH, "//*[@id='main-wrapper']/header/div/div[3]/div/nav/ul/li[1]/a")
Billboard_hot100.click()

In [61]:
song_names= driver.find_elements(By.XPATH, "//ul[@class='lrv-a-unstyle-list lrv-u-flex lrv-u-height-100p lrv-u-flex-direction-column@mobile-max']/li/h3")
Name_Song=[]
Artist_name= []
Last_week_rank=[]
peak_rank=[]
weeks_on_board=[]
for song in song_names:
    Name_Song.append(song.text)

Artist= driver.find_elements(By.XPATH, "//ul[@class='lrv-a-unstyle-list lrv-u-flex lrv-u-height-100p lrv-u-flex-direction-column@mobile-max']/li[1]/span")
for singer in Artist:
    Artist_name.append(singer.text)


Last_wk_rank= driver.find_elements(By.XPATH, "//ul[@class='lrv-a-unstyle-list lrv-u-flex lrv-u-height-100p lrv-u-flex-direction-column@mobile-max']/li[4]/span")
for rank in Last_wk_rank:
    Last_week_rank.append(rank.text)


pk_rank= driver.find_elements(By.XPATH, "//ul[@class='lrv-a-unstyle-list lrv-u-flex lrv-u-height-100p lrv-u-flex-direction-column@mobile-max']/li[5]/span")
for p_rank in pk_rank:
    peak_rank.append(p_rank.text)

weeks_board= driver.find_elements(By.XPATH, "//ul[@class='lrv-a-unstyle-list lrv-u-flex lrv-u-height-100p lrv-u-flex-direction-column@mobile-max']/li[6]/span")
for board in weeks_board:
    weeks_on_board.append(board.text)


df=pd.DataFrame({"Song Name":Name_Song,"Artist name":Artist_name,"Last week rank":Last_week_rank,"Peak rank":peak_rank,"Weeks on board":weeks_on_board})
df

,Song Name,Artist name,Last week rank,Peak rank,Weeks on board
0,I Had Some Help,Post Malone Featuring Morgan Wallen,1,1,3
1,Not Like Us,Kendrick Lamar,2,1,4
2,Million Dollar Baby,Tommy Richman,3,2,5
3,A Bar Song (Tipsy),Shaboozey,4,3,7
4,Espresso,Sabrina Carpenter,6,4,7
...,...,...,...,...,...
95,Attitude,Don Toliver Featuring Charlie Wilson & Cash Co...,-,96,1
96,Heat Stick,Shoreline Mafia Presents OhGeesy & Fenix Flexin,98,97,2
97,The Alchemy,Taylor Swift,82,13,6
98,On One Tonight,Gunna,71,54,3
99,Tu Name,Fuerza Regida,-,66,13

6.Scrape the details of Highest selling novels. 
A) Book name 
B) Author name 
C) Volumes sold 
D) Publisher 
E) Genre 
 Url - https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare

In [160]:
#opening the amazon page on automated chrome browser
driver=webdriver.Chrome()
driver.get("https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare")
#maximize chrome window
driver.maximize_window()

In [180]:

Book_name=[]
Author_name=[]
Volumes_sold=[]
Publisher=[]
Genre=[]
total_rows = driver.find_elements(By.XPATH,"//div[@class='embed block']/table/tbody/tr")

for i in range(1,len(total_rows)+1):
    title= driver.find_element(By.XPATH,"//div[@class='embed block']/table/tbody/tr["+str(i)+"]/td[2]")
    Book_name.append(title.text)
    name= driver.find_element(By.XPATH,"//div[@class='embed block']/table/tbody/tr["+str(i)+"]/td[3]")
    Author_name.append(name.text)
    volumes= driver.find_element(By.XPATH,"//div[@class='embed block']/table/tbody/tr["+str(i)+"]/td[4]")
    Volumes_sold.append(volumes.text)
    publisher_name= driver.find_element(By.XPATH,"//div[@class='embed block']/table/tbody/tr["+str(i)+"]/td[5]")
    Publisher.append(publisher_name.text)
    Genre_1= driver.find_element(By.XPATH,"//div[@class='embed block']/table/tbody/tr["+str(i)+"]/td[6]")
    Genre.append(Genre_1.text)

df = pd.DataFrame({"Title":Book_name,"Author":Author_name,"Volume Sales":Volumes_sold,"Publisher":Publisher,"Genre":Genre})
df

,Title,Author,Volume Sales,Publisher,Genre
0,"Da Vinci Code,The","Brown, Dan","5,094,805",Transworld,"Crime, Thriller & Adventure"
1,Harry Potter and the Deathly Hallows,"Rowling, J.K.","4,475,152",Bloomsbury,Children's Fiction
2,Harry Potter and the Philosopher's Stone,"Rowling, J.K.","4,200,654",Bloomsbury,Children's Fiction
3,Harry Potter and the Order of the Phoenix,"Rowling, J.K.","4,179,479",Bloomsbury,Children's Fiction
4,Fifty Shades of Grey,"James, E. L.","3,758,936",Random House,Romance & Sagas
...,...,...,...,...,...
95,"Ghost,The","Harris, Robert","807,311",Random House,General & Literary Fiction
96,Happy Days with the Naked Chef,"Oliver, Jamie","794,201",Penguin,Food & Drink: General
97,"Hunger Games,The:Hunger Games Trilogy","Collins, Suzanne","792,187",Scholastic Ltd.,Young Adult Fiction
98,"Lost Boy,The:A Foster Child's Search for the L...","Pelzer, Dave","791,507",Orion,Biography: General
99,Jamie's Ministry of Food:Anyone Can Learn to C...,"Oliver, Jamie","791,095",Penguin,Food & Drink: General

7.Scrape the details most watched tv series of all time from imdb.com. 
Url = https://www.imdb.com/list/ls095964455/ You have 
to find the following details: 
A) Name 
B) Year span 
C) Genre 
D) Run time 
E) Ratings 
F) Votes

In [200]:
from selenium import webdriver
from selenium.common.exceptions import WebDriverException

try:
    driver = webdriver.Chrome()
    driver.get("https://www.imdb.com/list/ls095964455/")
    driver.maximize_window()
    
    if "404" in driver.title:
        raise WebDriverException("404 Error: Page not found.")
    
except WebDriverException as e:
    print("An error occurred:", e)
finally:
    driver.quit()

An error occurred: Message: 404 Error: Page not found.

8.Details of Datasets from UCI machine learning repositories. 
Url = https://archive.ics.uci.edu/ You 
have to find the following details: 
A) Dataset name 
B) Data type 
C) Task 
D) Attribute type 
E) No of instances 
F) No of attribute G) Year 
 Note: - from the home page you have to go to the Show All Dataset page through code.

In [197]:
#opening the amazon page on automated chrome browser
driver=webdriver.Chrome()
driver.get("https://archive.ics.uci.edu/")
#maximize chrome window
driver.maximize_window()
time.sleep(3)

Datasets= driver.find_element(By.XPATH,"/html/body/div/div[1]/div[1]/header/nav/ul/li[1]/a").click()
time.sleep(3)

Expand_All= driver.find_element(By.XPATH,"/html/body/div/div[1]/div[1]/main/div/div[2]/div[1]/div/label[2]/div[2]/span[2]").click()

Dataset_Name=[]
Data_Type=[]
Task=[]
Attribute_Type=[]
No_of_Instance=[]
No_of_attribute=[]
Year=[]

Name= driver.find_elements(By.XPATH,"//div[@class='relative col-span-8 sm:col-span-7']/h2/a")
for Data in Name:
    Dataset_Name.append(Data.text)

D_Type= driver.find_elements(By.XPATH,"//div[@class='relative col-span-8 sm:col-span-7']/div/div[2]/span")
for typ in D_Type:
    Data_Type.append(typ.text)

Given_task= driver.find_elements(By.XPATH,"//div[@class='relative col-span-8 sm:col-span-7']/div/div[1]/span")
for tsk in Given_task:
    Task.append(tsk.text)

A_Type= driver.find_elements(By.XPATH,"//table[@class='col-span-full my-2 table sm:col-start-2']/tbody/tr/td[2]")
for atr in A_Type:
    Attribute_Type.append(atr.text)

No_instance= driver.find_elements(By.XPATH,"//div[@class='relative col-span-8 sm:col-span-7']/div/div[3]/span")
for instance in No_instance:
    No_of_Instance.append(instance.text)

No_attribute= driver.find_elements(By.XPATH,"//div[@class='relative col-span-8 sm:col-span-7']/div/div[4]/span")
for attribute in No_attribute:
    No_of_attribute.append(attribute.text)

Given_year= driver.find_elements(By.XPATH,"//table[@class='col-span-full my-2 table sm:col-start-2']/tbody/tr/td[3]")
for yr in Given_year:
    Year.append(yr.text)

df=pd.DataFrame({"Dataset Name":Dataset_Name,"Data Type":Data_Type,"Task":Task,"Attribute Type":Attribute_Type,"No of Instance":No_of_Instance,"No of attribute":No_of_attribute,"Year":Year})
df

,Dataset Name,Data Type,Task,Attribute Type,No of Instance,No of attribute,Year
0,Iris,Tabular,Classification,Real,150 Instances,4 Features,7/1/1988
1,Dry Bean,Multivariate,Classification,"Integer, Real",13.61K Instances,16 Features,9/14/2020
2,Heart Disease,Multivariate,Classification,"Categorical, Integer, Real",303 Instances,13 Features,7/1/1988
3,Rice (Cammeo and Osmancik),Multivariate,Classification,Real,3.81K Instances,7 Features,10/6/2019
4,Raisin,Multivariate,Classification,"Real, Integer",900 Instances,8 Features,8/14/2023
5,Adult,Multivariate,Classification,"Categorical, Integer",48.84K Instances,14 Features,5/1/1996
6,Breast Cancer Wisconsin (Diagnostic),Multivariate,Classification,Real,569 Instances,30 Features,11/1/1995
7,Wine,Tabular,Classification,"Integer, Real",178 Instances,13 Features,7/1/1991
8,Wine Quality,Multivariate,"Classification, Regression",Real,4.9K Instances,12 Features,10/7/2009
9,Bank Marketing,Multivariate,Classification,"Categorical, Integer",45.21K Instances,17 Features,2/14/2012