Write a Python program to replace all occurrences of a space,comma or dot with a colon.

In [1]:
import re

def replce_with_colon(text):
    pattern=r'[ ,.]'
    replaced_text=re.sub(pattern,':',text)
    return replaced_text

In [2]:
sample_text='Python Exercises, PHP Exercises.'
Expected_output=replce_with_colon(sample_text)

In [3]:
print(Expected_output)

Python:Exercises::PHP:Exercises:

OR/another method

In [4]:
import re

Sample_Text='Python Exercises, PHP exercises.'
pattern=r'[ ,.]'
replaceed_text=re.sub(pattern,':',Sample_Text)
print(replaceed_text)

Python:Exercises::PHP:exercises:

 Create a dataframe using the dictionary below and remove everything (commas (,), !, XXXX, ;, etc.) from the columns except words.

In [22]:
import pandas as pd
import re

data={'SUMMARY' : ['hello, world!', 'XXXXX test', '123four, five:; six...']}
df=pd.DataFrame(data)
def remove_non_word(text):
    return re.sub(r'[^a-zA-Z\s]+', '', text)
df['SUMMARY']=df['SUMMARY'].apply(remove_non_word)
print(df)

         SUMMARY
0    hello world
1     XXXXX test
2  four five six

OR/Another Method

In [24]:
import pandas as pd
import re

data={'SUMMARY' : ['hello, world!', 'XXXXX test', '123four, five:; six...']}
df=pd.DataFrame(data)
df['SUMMARY']=df['SUMMARY'].apply(lambda x:re.sub(r'[^a-zA-Z\s]+', '', x))
print(df)

         SUMMARY
0    hello world
1     XXXXX test
2  four five six

Create a function in python to find all words that are at least 4 characters long in a string. The use of the re.compile() method is mandatory.

In [25]:
def find_words(text):
    pattern=re.compile(r'\b\w{4,}\b')
    words=pattern.findall(text)
    return words

In [26]:
sample="Read the migration plan to Notebook 7 to learn about the new features and the actions to take if you are using extensions"
result=find_words(sample)

In [27]:
print(result)

['Read', 'migration', 'plan', 'Notebook', 'learn', 'about', 'features', 'actions', 'take', 'using', 'extensions']

Create a function in python to find all three, four, and five character words in a string. The use of the re.compile() method is mandatory.

In [28]:
def find_words(text):
    pattern=re.compile(r'\b\w{3,5}\b')
    words=pattern.findall(text)
    return words
sample="Read the migration plan to Notebook 7 to learn about the new features and the actions to take if you are using extensions"
result=find_words(sample)
print(result)

['Read', 'the', 'plan', 'learn', 'about', 'the', 'new', 'and', 'the', 'take', 'you', 'are', 'using']

Create a function in Python to remove the parenthesis in a list of strings. The use of the re.compile() method is mandatory.

In [63]:
def remove_parenthesis(strings):
    pattern=re.compile(r'\(|\)')
    removed=[pattern.sub('',s) for s in strings]
    for x in removed:
        print(x) 
    return removed

In [64]:
sample=["example (.com)", "hr@fliprobo (.com)", "github (.com)", "Hello (Data Science World)", "Data (Scientist)"]
result=remove_parenthesis(sample)

example .com
hr@fliprobo .com
github .com
Hello Data Science World
Data Scientist

OR/Another Method

In [66]:
def remove_parenthesis(strings):
    pattern=re.compile(r'\(|\)')
    removed=pattern.sub('',strings)
    return removed
sample=" Create a dataframe using the dictionary below and remove everything (commas (,), !, XXXX, ;, etc.) from the columns except words."
result=remove_parenthesis(sample)
print(result)

 Create a dataframe using the dictionary below and remove everything commas ,, !, XXXX, ;, etc. from the columns except words.

Write a python program to remove the parenthesis area from the text stored in the text file using Regular Expression.

In [216]:
Sample_Text='["example (.com)", "hr@fliprobo (.com)", "github (.com)", "Hello (Data Science World)", "Data (Scientist)"]'
with open('Sample_Text.txt','w') as file:
    file.write(Sample_Text)
with open('Sample_Text.txt','r') as file:
    text=file.read()
pattern=r'\([^)]+\)'
new_text=re.sub(pattern,'',text)
with open('new_text.txt','w') as file:
    file.write(new_text)
print(new_text)

["example ", "hr@fliprobo ", "github ", "Hello ", "Data "]

Write a regular expression in Python to split a string into uppercase letters.

In [79]:
sample_text="ImportanceOfRegularExpressionsInPython"
pattern=r'[A-Z][a-z]*'
split_string=re.findall(pattern, sample_text)
print(split_string)

['Importance', 'Of', 'Regular', 'Expressions', 'In', 'Python']

Create a function in python to insert spaces between words starting with numbers.

In [91]:
sample_text="RegularExpression1IsAn2ImportantTopic3InPython"
pattern=r'(?=\d)(?<=[A-Za-z])'
new_text=re.sub(pattern, ' ',sample_text)
print(new_text)

RegularExpression 1IsAn 2ImportantTopic 3InPython

OR/Another method

In [92]:
def insert_space(text):
    pattern=r'(?=\d)(?<=[A-Za-z])'
    new_text=re.sub(pattern, ' ',sample_text)
    return new_text
sample_text="RegularExpression1IsAn2ImportantTopic3InPython"
result=insert_space(sample_text)
print(result)

RegularExpression 1IsAn 2ImportantTopic 3InPython

Create a function in python to insert spaces between words starting with capital letters or with numbers.

In [93]:
def insert_space(text):
    pattern=r'(?<=\D)(?=\d)|(?<=\d)(?=\D)'
    new_text=re.sub(pattern, ' ',sample_text)
    return new_text
sample_text="RegularExpression1IsAn2ImportantTopic3InPython"
result=insert_space(sample_text)
print(result)

RegularExpression 1 IsAn 2 ImportantTopic 3 InPython

Use the github link below to read the data and create a dataframe. After creating the dataframe extract the first 6 letters of each country and store in the dataframe under a new column called first_five_letters.
Github Link-  https://raw.githubusercontent.com/dsrscientist/DSData/master/happiness_score_dataset.csv

In [95]:
df=pd.read_csv(" https://raw.githubusercontent.com/dsrscientist/DSData/master/happiness_score_dataset.csv")
df['first_five_letters']=df['Country'].str[:6]
print(df)

         Country                           Region  Happiness Rank  \
0    Switzerland                   Western Europe               1
1        Iceland                   Western Europe               2
2        Denmark                   Western Europe               3
3         Norway                   Western Europe               4
4         Canada                    North America               5
..           ...                              ...             ...
153       Rwanda               Sub-Saharan Africa             154
154        Benin               Sub-Saharan Africa             155
155        Syria  Middle East and Northern Africa             156
156      Burundi               Sub-Saharan Africa             157
157         Togo               Sub-Saharan Africa             158

     Happiness Score  Standard Error  Economy (GDP per Capita)   Family  \
0              7.587         0.03411                   1.39651  1.34951
1              7.561         0.04884                   1.30232  1.40223
2              7.527         0.03328                   1.32548  1.36058
3              7.522         0.03880                   1.45900  1.33095
4              7.427         0.03553                   1.32629  1.32261
..               ...             ...                       ...      ...
153            3.465         0.03464                   0.22208  0.77370
154            3.340         0.03656                   0.28665  0.35386
155            3.006         0.05015                   0.66320  0.47489
156            2.905         0.08658                   0.01530  0.41587
157            2.839         0.06727                   0.20868  0.13995

     Health (Life Expectancy)  Freedom  Trust (Government Corruption)  \
0                     0.94143  0.66557                        0.41978
1                     0.94784  0.62877                        0.14145
2                     0.87464  0.64938                        0.48357
3                     0.88521  0.66973                        0.36503
4                     0.90563  0.63297                        0.32957
..                        ...      ...                            ...
153                   0.42864  0.59201                        0.55191
154                   0.31910  0.48450                        0.08010
155                   0.72193  0.15684                        0.18906
156                   0.22396  0.11850                        0.10062
157                   0.28443  0.36453                        0.10731

     Generosity  Dystopia Residual first_five_letters
0       0.29678            2.51738             Switze
1       0.43630            2.70201             Icelan
2       0.34139            2.49204             Denmar
3       0.34699            2.46531             Norway
4       0.45811            2.45176             Canada
..          ...                ...                ...
153     0.22628            0.67042             Rwanda
154     0.18260            1.63328              Benin
155     0.47179            0.32858              Syria
156     0.19727            1.83302             Burund
157     0.16681            1.56726               Togo

[158 rows x 13 columns]

In [99]:
print(df.head())

       Country          Region  Happiness Rank  Happiness Score  \
0  Switzerland  Western Europe               1            7.587
1      Iceland  Western Europe               2            7.561
2      Denmark  Western Europe               3            7.527
3       Norway  Western Europe               4            7.522
4       Canada   North America               5            7.427

   Standard Error  Economy (GDP per Capita)   Family  \
0         0.03411                   1.39651  1.34951
1         0.04884                   1.30232  1.40223
2         0.03328                   1.32548  1.36058
3         0.03880                   1.45900  1.33095
4         0.03553                   1.32629  1.32261

   Health (Life Expectancy)  Freedom  Trust (Government Corruption)  \
0                   0.94143  0.66557                        0.41978
1                   0.94784  0.62877                        0.14145
2                   0.87464  0.64938                        0.48357
3                   0.88521  0.66973                        0.36503
4                   0.90563  0.63297                        0.32957

   Generosity  Dystopia Residual first_five_letters
0     0.29678            2.51738             Switze
1     0.43630            2.70201             Icelan
2     0.34139            2.49204             Denmar
3     0.34699            2.46531             Norway
4     0.45811            2.45176             Canada

Write a Python program to match a string that contains only upper and lowercase letters, numbers, and underscores.

In [105]:
def string(text):
    pattern=r'^[A-Za-z0-9_]+$'
    if re.match(pattern,text):
        return True
    else:
        return False
sample="HahHaklr128gTG_H"
sample1="This@_isInvalid"
print(string(sample))
print(string(sample1))

True
False

Write a Python program where a string will start with a specific number.

In [109]:
def string(string,number):
    pattern=r'^'+number
    if re.match(pattern,string):
        return True
    else:
        return False
sample="123abc"
sample1="456ACS23"
number="123"
print(string(sample,number))
print(string(sample1,number))

True
False

Write a Python program to remove leading zeros from an IP address.

In [116]:
def remove_leading_zeros(ip_address):
    x=ip_address.split('.')
    for i in range(len(x)):
        x[i]=str(int(x[i]))
    improved_ip_address='.'.join(x)
    return improved_ip_address
ip_address="197.187.001.002"
result=remove_leading_zeros(ip_address)
print(result)

197.187.1.2

Write a regular expression in python to match a date string in the form of Month name followed by day number and year stored in a text file.

In [215]:
pattern=r'\b(January|Feburary|March|April|May|June|July|August|September|October|November|December)\s+([0-9]{1,2}(st|nd|th|rd)?)\s+(\d{4}\b)'
sample_text='On August 15th 1947 that India was declared independent from British May 20th 1847 colonialism, and the reins of control were handed over to the leaders of the Country.'
matches=re.search(pattern,sample_text)
result=matches.group()
print(result)

August 15th 1947

OR/Another Method

In [217]:
sample_text='On August 15th 1947 that India was declared independent from British May 20th 1847 colonialism, and the reins of control were handed over to the leaders of the Country.'
with open('sample_text.txt','w')as file:
    file.write(sample_text)
with open ('sample_text.txt','r')as file:
    text=file.read()
pattern=r'\b(January|Feburary|March|April|May|June|July|August|September|October|November|December)\s+([0-9]{1,2}(st|nd|th|rd)?)\s+(\d{4}\b)'
result=re.search(pattern,text)
new_text=result.group()
with open('new_text.txt','w')as file:
    file.write(new_text)
print(new_text)

August 15th 1947

Write a Python program to search some literals strings in a string.

In [219]:
def search_strings(text,search_literals_strings):
    for string in search_literals_strings:
        if string in text:
            print(f'{string}')
        else:
            print("not found")
text='The quick brown fox jumps over the lazy dog.'
search_literals_strings=['fox','dog','horse']
search_strings(text,search_literals_strings)
print(search_strings)

fox
dog
not found
<function search_strings at 0x000001CD92B107C0>

Write a Python program to search a literals string in a string and also find the location within the original string where the pattern occurs

In [104]:
import re
def search_strings(text,pattern):
    match=re.search(re.escape(pattern),text)
    if match:
        print(f"'{pattern}'is found in text at index {match.start()} ")
    else:
        print("not found")
text='The quick brown fox jumps over the lazy dog.'
pattern='fox'
search_strings(text,pattern)
print(search_strings)

'fox'is found in text at index 16
<function search_strings at 0x000002768C681440>

Write a Python program to find the substrings within a string.

In [106]:
def find_substrings(text,substrings):
    x=text.split(',')
    foundStr = []
    for i in range(len(x)):
        if substrings in x[i]:
            foundStr.append(substrings)
        else:
            pass
    return foundStr
text='Python exercises, PHP, C# exercises'
substrings='exercises'
z = find_substrings(text,substrings)
print(z)

['exercises', 'exercises']

OR/Another Method

In [107]:
def find_substrings(text,substrings):
    foundStr = re.findall(substrings,text)
    return foundStr
text='Python exercises, PHP exercises, C# exercises'
substrings='exercises'
find_substrings(text,substrings)

['exercises', 'exercises', 'exercises']

Write a Python program to find the occurrence and position of the substrings within a string.

In [108]:
def find_substring_occurrences(text,substring):
    occurrence = []
    position = 0
    for x in text:
        index = text.find(substring,position)
        if index == -1:
            break
        else:
            occurrence.append((substring,index))
            position = index+1
    return occurrence

text='Python exercises, PHP exercises, C# exercises'
substrings='exercises'
find_substring_occurrences(text,substrings)

[('exercises', 7), ('exercises', 22), ('exercises', 36)]

 Write a Python program to convert a date of yyyy-mm-dd format to dd-mm-yyyy format.

In [110]:
from datetime import datetime


def convert_date_format(date):
    current_format=datetime.strptime(date,"%Y-%m-%d")
    new_format=current_format.strftime("%d-%m-%Y")
    return new_format
date='2024-04-01'
d=convert_date_format(date)
print(d)

01-04-2024

Create a function in python to find all decimal numbers with a precision of 1 or 2 in a string. The use of the re.compile() method is mandatory.

In [111]:
def find_decimal_numbers(string):
    pattern=re.compile(r'\b\d+\.\d{1,2}\b')
    match=pattern.findall(string)
    return match
string="01.12 0132.123 2.31875 145.8 3.01 27.25 0.25"
find_decimal_numbers(string)

['01.12', '145.8', '3.01', '27.25', '0.25']

Write a Python program to separate and print the numbers and their position of a given string.

In [112]:
import re

def number_and_position(string):
    num_position=[]
    pattern=re.compile(r'\b\d+\b')
    matches=pattern.finditer(string)
    for match in matches:
        number=match.group()
        position=match.start()
        num_position.append((number,position))
     
    return num_position
string="There are 10 oranges and 30 bananas in the basket"
number_and_position(string)

[('10', 10), ('30', 25)]

Write a regular expression in python program to extract maximum/largest numeric value from a string.

In [113]:
def extract_max_num(string):
    pattern=re.compile(r'\b\d+\b')
    matches=pattern.findall(string)
    if matches:
        numeric_value=[int(match)for match in matches]
        return max(numeric_value)
    else:
        return None

string='My marks in each semester are: 947, 896, 926, 524, 734, 950, 642'
extract_max_num(string)

950

 Create a function in python to insert spaces between words starting with capital letters.

In [114]:
def insert_spaces(text):
    modified_text = re.sub(r'(?<=[a-z])(?=[A-Z])',r' ',text)
    return modified_text

text = 'RegularExpressionIsAnImportantTopicInPython'
insert_spaces(text)

'Regular Expression Is An Important Topic In Python'

Python regex to find sequences of one upper case letter followed by lower case letters

In [115]:
text ='RegularExpressionIsAnImportantTopicInPython'
pattern=r'[A-Z][a-z]+'
matches=re.findall(pattern,text)
print(matches)

['Regular', 'Expression', 'Is', 'An', 'Important', 'Topic', 'In', 'Python']

Write a Python program to remove continuous duplicate words from Sentence using Regular Expression.

In [117]:
def remove_con_duplicate(sentence):
    pattern=r'\b(\w+)(?:\W+\1\b)+'
    modified=re.sub(pattern,r'\1',sentence)
    return modified

sentence="Hello hello world world"
remove_con_duplicate(sentence)

'Hello hello world'

Write a python program using RegEx to accept string ending with alphanumeric character.

In [124]:
def ends_with_alphanumeric(string):
    pattern=r'[A-Za-z0-9]$'
    matches=re.findall(pattern,string)
    if matches:
        return True
    else:
        return False

string1 = "Hello123_"
string2 = "abc!"
string3 = "12345"
string4 = "Testing Testing 123"
print(ends_with_alphanumeric(string1))
print(ends_with_alphanumeric(string2))
print(ends_with_alphanumeric(string3))
print(ends_with_alphanumeric(string4))

False
False
True
True

Write a python program using RegEx to extract the hashtags.

In [125]:
def return_hashtags(text):
    pattern=r'#\w+'
    hashtags=re.findall(pattern,text)
    return hashtags

text="""RT @kapil_kausik: #Doltiwal I mean #xyzabc is "hurt" by #Demonetization as the same has rendered USELESS <ed><U+00A0><U+00BD><ed><U+00B1><U+0089> "acquired funds" No wo"""
return_hashtags(text)

['#Doltiwal', '#xyzabc', '#Demonetization']

Write a python program using RegEx to remove <U+..> like symbols
Check the below sample text, there are strange symbols something of the sort <U+..> all over the place. You need to come up with a general Regex expression that will cover all such symbols.

In [127]:
def remove_symbols(text):
    pattern=r'<U\+[0-9A-F]+>'
    cleaned_text=re.sub(pattern,'',text)
    return cleaned_text

text="@Jags123456 Bharat band on 28??<ed><U+00A0><U+00BD><ed><U+00B8><U+0082>Those who  are protesting #demonetization  are all different party leaders"
remove_symbols(text)

'@Jags123456 Bharat band on 28??<ed><ed>Those who  are protesting #demonetization  are all different party leaders'

Write a python program to extract dates from the text stored in the text file.

In [130]:
sample_Text='Ron was born on 12-09-1992 and he was admitted to school 15-12-1999.'
with open('sample_Text.txt','w')as file:
    file.write(sample_Text)
with open ('sample_Text.txt','r')as file:
    text=file.read()
pattern=r'\b\d{2}-\d{2}-\d{4}\b'
result=re.findall(pattern,text)
print(result)

['12-09-1992', '15-12-1999']

Create a function in python to remove all words from a string of length between 2 and 4.

In [134]:
def remove_words_between_length_2_and_4(text):
    pattern=re.compile(r'\b\w{2,4}\s*\b')
    cleaned_text=pattern.sub('',text)
    return cleaned_text

text="The following example creates an ArrayList with a capacity of 50 elements. 4 elements are then added to the ArrayList and the ArrayList is trimmed accordingly."
remove_words_between_length_2_and_4(text)

'following example creates ArrayList a capacity elements. 4 elements added ArrayList ArrayList trimmed accordingly.'