In [113]:
import selenium 
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.webdriver.common.by import By
import time
from selenium.webdriver import ActionChains, Keys

1. In this question you have to scrape data using the filters available on the webpage You have to use the location and
salary filter.
You have to scrape data for “Data Scientist” designation for first 10 job results.
You have to scrape the job-title, job-location, company name, experience required.
The location filter to be used is “Delhi/NCR”. The salary filter to be used is “3-6” lakhs

In [154]:
#opening the naukri page on automated chrome browser
driver=webdriver.Chrome()
driver.get(" https://www.naukri.com/")
#maximize chrome window
driver.maximize_window()

#entering designation as required in question
designation= driver.find_element(By.CLASS_NAME, "suggestor-input ")
designation.send_keys('Data Scientist')

#After filling designation, clicking on the search button
Search= driver.find_element(By.CLASS_NAME,"qsbSubmit")
Search.click()
time.sleep(3)

#Selecting All Filter element
All_filter = driver.find_element(By.CLASS_NAME, 'styles_filter-wrapper-component__4OBpS')
All_filter.click()
time.sleep(5)

# Selecting "Delhi / NCR" as the job location
specific_location = driver.find_element(By.XPATH, '//label[@for="chk-Delhi / NCR-cityTypeGid-"]')
specific_location.click()
time.sleep(3)

# Selecting the salary range of "3-6 Lakhs"
Salary= driver.find_element(By.XPATH, '//label[@for="chk-3-6 Lakhs-ctcFilter-"]')
Salary.click()
time.sleep(5)

# Initializing empty lists to store scraped data
titles=[]
Company_names=[]
Experience_required=[]
Location=[]

# Scraping job titles
job_title = driver.find_elements(By.XPATH, '//div[@class="cust-job-tuple layout-wrapper lay-2 sjw__tuple "]/div/a')
for i in job_title[:10] :
    title=i.text
    titles.append(title)
   
 # Scraping company names
for i in range(1,20):
    try:
        company_tag = driver.find_element(By.XPATH, '//*[@id="listContainer"]/div[2]/div/div[' + str(i) + ']/div/div[2]/span/a[1]').text
        Company_names.append(company_tag)
        if len(Company_names) == 10:
            break
    except:
        pass

# Scraping job locations
Location_tag = driver.find_elements(By.XPATH, '//span[@class="locWdth"]')
for i in Location_tag[:10]:
    Location_name=i.text
    Location.append(Location_name)
    

# Scraping experience required
Experience_tag = driver.find_elements(By.XPATH, '//span[@class="expwdth"]')
for i in Experience_tag[:10]:
    Experience=i.text
    Experience_required.append(Experience)
  

    
# Creating a DataFrame from the scraped data   
df = pd.DataFrame({'Job Title':titles, 'Company Name':Company_names,'Experience Required':Experience_required,'Job Location':Location,})
df

,Job Title,Company Name,Experience Required,Job Location
0,Data Scientist,Blackbuck,3-7 Yrs,"Gurugram, Bengaluru"
1,"Data Scientist - NLP, Gen AI",R Systems International,5-8 Yrs,Noida
2,Global GI Data Scientist,Hitachi Ltd.,3-5 Yrs,Faridabad
3,Data Scientist,Digital Glyde,3-7 Yrs,"Kolkata, Mumbai, New Delhi, Hyderabad, Pune, C..."
4,Python Data Scientist,Wizaltia Hr Solutions,2-7 Yrs,"Kolkata, Mumbai, New Delhi, Hyderabad, Pune, C..."
5,Data Scientist,Kmart,3-5 Yrs,"Kolkata, Mumbai, New Delhi, Hyderabad, Pune, C..."
6,Data Scientist,KAS Services,3-5 Yrs,"Kolkata, Mumbai, New Delhi, Hyderabad, Pune, C..."
7,Data Scientist,Scienaptic Systems,2-7 Yrs,"Kolkata, Mumbai, New Delhi, Hyderabad, Pune, C..."
8,Lead Data Scientist,Elitefit.ai,3-7 Yrs,"Kolkata, Mumbai, New Delhi, Hyderabad, Pune, C..."
9,Data Scientist,Kashsam Data Solutions,3-7 Yrs,"Kolkata, Mumbai, New Delhi, Hyderabad, Pune, C..."

2. Write a python program to scrape data for “Data Analyst” Job position in “Bangalore” location. You have to scrape the
job-title, job-location, company_name, experience_required. You have to scrape first 10 jobs data.

In [77]:
#opening the shine page on automated chrome browser
driver=webdriver.Chrome()
driver.get("https://www.shine.com/")
#maximize chrome window
driver.maximize_window()

# Find the 'Jobs' element
we = driver.find_element(By.XPATH,"/html/body/div/header/div[5]/div/ul/li[2]/a")
time.sleep(3)

# Create an ActionChains object
actions = ActionChains(driver)

# Hover over the 'Jobs' element
actions.move_to_element(we).perform()
time.sleep(3)

# Find and click the 'Search' button after hovering over 'Jobs'
job_search = driver.find_element(By.XPATH, "/html/body/div/header/div[5]/div/ul/li[2]/ul/li[1]/a")
job_search.click()

#entering job position and location as required in question
driver.find_element(By.XPATH,'//*[@id="id_q"]').send_keys("Data Analyst")
driver.find_element(By.XPATH,'//*[@id="id_loc"]').send_keys("Bangalore")
time.sleep(3)
#After filling details, clicking on the search button
driver.find_element(By.XPATH, '/html/body/div/div[2]/div/div/div[1]/p').click()
driver.find_element(By.XPATH, '//*[@id="__next"]/div[2]/div/div/div[1]/div[1]/div/div[2]/div/div[1]/form/div/div[2]/div/button').click()

# Initializing empty lists to store scraped data
titles=[]
Company_names=[]
Experience_required=[]
Location=[]

# Scraping job data for the first 10 jobs
for i in range(1,11):
    # Finding elements by XPath for job title, company name, experience required, and job location
    job_title = driver.find_element(By.XPATH, '//*[@id="1"]/div[' + str(i) +']/div[1]/div[1]/strong/h2/a').text
    company_name = driver.find_element(By.XPATH, '//*[@id="1"]/div[' + str(i) + ']/div[1]/div[1]/div[2]/span').text
    experience_required = driver.find_element(By.XPATH, '//*[@id="1"]/div[' + str(i) + ']/div[1]/div[1]/div[3]/div[1]').text
    job_location = driver.find_element(By.XPATH, '//*[@id="1"]/div[' + str(i) + ']/div[1]/div[1]/div[3]/div[2]').text
    
    # Appending scraped data to respective lists
    titles.append(job_title)
    Company_names.append(company_name)
    Experience_required.append(experience_required)
    # Splitting the location string to get only the city name
    Location_job = job_location.split('\n')
    Location.append(Location_job[0])

# Creating a DataFrame from the scraped data    
df = pd.DataFrame({'Job Title':titles,'Company Name':Company_names,'Experience Required':Experience_required,'Job Location':Location})
df

,Job Title,Company Name,Experience Required,Job Location
0,"Data Analyst , Senior Data Analyst , Data Anal...",appsoft solutions,0 to 4 Yrs,Bangalore
1,Data Analyst,valenta bpo solutions pvt. ltd.,4 to 5 Yrs,Bangalore
2,"Data Analyst (Power BI, Python, SQL)- Internal...",talent leads hr solutions pvt ltd,3 to 8 Yrs,Bangalore
3,Data Analyst Opening,radhika enterprises,0 to 4 Yrs,Bangalore
4,Clinical Data Analyst,techno endura,0 to 1 Yr,Bangalore
5,Data Analyst Fresher and Experience Vacancy,radhika enterprises,0 to 4 Yrs,Bangalore
6,Data Analyst Recruitment,radhika enterprises,0 to 4 Yrs,Bangalore
7,Data Analyst Recruitment,radhika enterprises,0 to 4 Yrs,Bangalore
8,Business Analyst,mackenzie modern it solutions priva...,4 to 6 Yrs,Bangalore
9,MIS Analyst,quess corp (magna infotech),8 to 13 Yrs,Bangalore

3.Scrape 100 reviews data from flipkart.com for iphone11 phone. You have to go the link:
https://www.flipkart.com/apple-iphone-11-black-64-gb/product-reviews/itm4e5041ba101fd?pid=MOBFWQ6BXGJCEYNY&lid=LSTMOBFWQ6BXGJCEYNYZXSHRJ&marketplace=FLIPKART

In [84]:
#opening flipkart.com on automated chrome browser
driver=webdriver.Chrome()
driver.get("https://www.flipkart.com/apple-iphone-11-black-64-gb/product-reviews/itm4e5041ba101fd?pid=MOBFWQ6BXGJCEYNY&lid=LSTMOBFWQ6BXGJCEYNYZXSHRJ&marketplace=FLIPKART")
#maximize chrome window
driver.maximize_window()

# Initializing empty lists to store scraped data
Ratings=[]
Review_Summery=[]
Full_Review=[]

# Define start and end page numbers for scraping
start=0
end=10

# Set the maximum number of products to scrape
max_reviews = 100

# Variables to track the total number of products scraped for each category
total_ratings = 0
total_review_summery = 0
total_full_review = 0

# Loop through each page of reviews
for page in range(start,end):
    # Scraping ratings
    Rating_tag = driver.find_elements(By.XPATH, '//div[@class="XQDdHH Ga3i8K"]')
    for i in Rating_tag[:10] :
        Rating=i.text
        Ratings.append(Rating)
        total_ratings += 1
        # Checking if the maximum number of products has been reached
        if total_ratings >= max_reviews:
            break
    
    # Scraping review summaries
    Review_tag= driver.find_elements(By.CLASS_NAME, "z9E0IG")
    for i in Review_tag:
        Review=i.text
        Review_Summery.append(Review)
        total_review_summery += 1
        if total_review_summery >= max_reviews:
            break
    
     # Scraping full reviews
    Full_tag= driver.find_elements(By.CLASS_NAME, 'ZmyHeo')
    for i in Full_tag:
        Full=i.text
        Full_Review.append(Full)
        total_full_review += 1
        if total_full_review >= max_reviews:
            break
    
    # Clicking on the next page button
    if page == 0:
        next_button= driver.find_element(By.XPATH, '//a[@class="_9QVEpD"]').click()
        time.sleep(3)
    elif page <=8 :
        next_button= driver.find_element(By.XPATH, '//a[@class="_9QVEpD"][2]').click()
        time.sleep(3)
    

# Creating a DataFrame from the scraped data
df = pd.DataFrame({"Ratings":Ratings,"Review Summery" : Review_Summery,"Full Review":Full_Review})
df

,Ratings,Review Summery,Full Review
0,5,Classy product,Camera is awesome\nBest battery backup\nA perf...
1,5,Perfect product!,Photos super
2,5,Best in the market!,Good Camera
3,5,Terrific,Very very good
4,5,Worth every penny,Feeling awesome after getting the delivery of ...
...,...,...,...
95,5,Classy product,Outstanding performance this phone
96,5,Excellent,A perfect phone and a good battery super camer...
97,5,Brilliant,Best phone
98,5,Perfect product!,Very nice iPhone 11 i lake
99,5,Brilliant,Fantastic phone

4.: Scrape data forfirst 100 sneakers you find whenyouvisitflipkart.com and search for “sneakers” inthe search
field.
You have to scrape 3 attributes of each sneaker:
1. Brand
2. ProductDescription
3. Price

In [86]:
#opening the flipkart page on automated chrome browser
driver=webdriver.Chrome()
driver.get(" https://www.flipkart.com/")
#maximize chrome window
driver.maximize_window()

#finding the element and Simulating typing "sneakers" into the found element
product= driver.find_element(By.CLASS_NAME, "Pke_EE")
product.send_keys('sneakers')

#finding the search button and Clicking on it
Search= driver.find_element(By.XPATH,"/html/body/div[1]/div/div[1]/div/div/div/div/div[1]/div/div[1]/div/div[1]/div[1]/header/div[1]/div[2]/form/div/button")
Search.click()

# Initializing empty lists to store scraped data
Brand=[]
ProductDescription=[]
price=[]

# Define start and end page numbers for scraping
start=0
end=3

# Set the maximum number of products to scrape
max_product = 100

# Variables to track the total number of products scraped for each category
total_products_brand = 0
total_products_PD = 0
total_products_PRICE = 0

# Loop through each page in the specified range
for page in range(start,end):
    # Scraping brand names
    Brand_tag= driver.find_elements(By.CLASS_NAME, "syl9yP ")
    for i in Brand_tag:
        Brand_name=i.text
        Brand.append(Brand_name)
        total_products_brand += 1
        # Checking if the maximum number of products has been reached
        if total_products_brand >= max_product:
            break
    
    # Scraping product descriptions
    Product_Description= driver.find_elements(By.CLASS_NAME, "WKTcLC")
    for i in Product_Description:
        Product_Des=i.text
        ProductDescription.append(Product_Des)
        total_products_PD += 1
        if total_products_PD >= max_product:
            break
    
     # Scraping product prices
    Price_tag= driver.find_elements(By.XPATH, '//div[@class="Nx9bqj"]')
    for i in Price_tag:
        Product_Price=i.text
        price.append(Product_Price)
        total_products_PRICE += 1
        if total_products_PRICE >= max_product:
            break

    
    # Clicking the next page button based on the current page number
    if page == 0:
        next_button= driver.find_element(By.XPATH, '//a[@class="_9QVEpD"]').click()
        time.sleep(3)
    elif page <=1 :
        next_button= driver.find_element(By.XPATH, '//a[@class="_9QVEpD"][2]').click()
        time.sleep(3)
    

# Creating a DataFrame from the scraped data
df = pd.DataFrame({"Brand":Brand,"Product Description" : ProductDescription,"Price":price})
df

              Brand                                Product Description   Price
0      K' Footlance                                   Sneakers For Men    ₹329
1      K' Footlance                                   Sneakers For Men    ₹349
2          URBANBOX  Trending Stylish Casual Outdoor Shoes Sneakers...    ₹299
3          RED TAPE  Casual Sneakers Shoes for Men | Soft Cushioned...  ₹1,179
4            BRUTON               Modern Trendy Shoes Sneakers For Men    ₹276
..              ...                                                ...     ...
95  U.S. POLO ASSN.                        LEBRON 3.0 Sneakers For Men  ₹2,205
96         LE GREEM  Comfortable|Ultra Light Weight|Breathable Snea...    ₹446
97           Footox                    Casual Shoes Sneakers For Women    ₹499
98         RED TAPE  Classic Rounded Front, Aerated Mesh Design & C...  ₹1,219
99  U.S. POLO ASSN.                        LEBRON 3.0 Sneakers For Men  ₹2,139

[100 rows x 3 columns]

5 Go to webpage https://www.amazon.in/ Enter “Laptop” in the search field and then click the search icon. Then set CPU
Type filter to “Intel Core i7” as shown in the below image:

In [155]:
#opening the flipkart page on automated chrome browser
driver=webdriver.Chrome()
driver.get("https://www.amazon.in/")
#maximize chrome window
driver.maximize_window()
time.sleep(20)

#type manually if "Captcha"is there

#finding the element and Simulating typing "Laptop" into the found element
product= driver.find_element(By.XPATH, "/html/body/div[1]/header/div/div[1]/div[2]/div/form/div[2]/div[1]/input")
product.send_keys('Laptop')


#finding the search button and Clicking on it
Search= driver.find_element(By.XPATH,"/html/body/div[1]/header/div/div[1]/div[2]/div/form/div[3]/div")
Search.click()
time.sleep(10)

#Selecting All Filters element
All_filter = driver.find_element(By.XPATH,"/html/body/div[1]/div[1]/div[1]/div[2]/div/div[3]/span/div[1]/div/div/div[5]")
All_filter.click()
time.sleep(5)

# Selecting the specific filter option (e.g., Intel Core i7)
specific_CPU = driver.find_element(By.XPATH, '//*[@aria-label="Intel Core i7"]/span/a/span')
specific_CPU.click()
time.sleep(3)

# Initializing empty lists to store scraped data
titles=[]
Ratings=[]
Price=[]

# Scraping product price
price_tag = driver.find_elements(By.XPATH,'//a[@class="a-link-normal s-no-hover s-underline-text s-underline-link-text s-link-style a-text-normal"]/span')

for price in price_tag[:10]:
    product_price = price.text
    Price.append(product_price)

for i in range(1,11):
    # Scraping product title
    laptop_title = driver.find_element(By.XPATH, '//*[@id="search"]/div[1]/div[1]/div/span[1]/div[1]/div[' + str(i+2) + ']/div/div/span/div/div/div/div[2]/div/div/div[1]/h2').text
    # Scraping product rating
    ratings = driver.find_element(By.XPATH, '//*[@id="search"]/div[1]/div[1]/div/span[1]/div[1]/div[' + str(i+2) + ']/div/div/span/div/div/div/div[2]/div/div/div[2]/div[1]').text

    # Appending scraped data to respective lists
    titles.append(laptop_title)
    Ratings.append(ratings)
    


    
# Creating a DataFrame from the scraped data   
df = pd.DataFrame({'laptop title':titles, 'Ratings':Ratings,'Price':Price})
df

                                        laptop title Ratings    Price
0  Acer Aspire Lite 12th Gen Intel Core i7-1255U ...     394  ₹54,990
1  Dell Inspiron 7420 2in1 Laptop, Intel Core i7-...      72  ₹77,490
2  Lenovo IdeaPad Slim 3 Intel Core i7 11th Gen 1...     494  ₹58,400
3  MSI Modern 14, Intel 12th Gen. i7-1255U, 36CM ...     109  ₹54,990
4  HP Laptop 15s, 12th Gen Intel Core i7-1255U, 1...      59  ₹63,990
5  ASUS TUF Gaming F15, 15.6"(39.62 cms) FHD 144H...     286  ₹72,990
6  ASUS Vivobook 15, IntelCore i7-12650H 12th Gen...     244  ₹57,990
7  Acer Travelmate Business Laptop Intel Core i7-...      34  ₹47,990
8  HP Pavilion 14 12th Gen Intel Core i7 16GB SDR...     696  ₹77,700
9  HP Victus Gaming Laptop, 12th Gen Intel Core i...     407  ₹79,990

6.Write a python program to scrape data for Top 1000 Quotes of All Time.
The above task will be done in following steps:
1. First get the webpagehttps://www.azquotes.com/
2. Click on TopQuote
3. Than scrap a)Quote b) Author c) Type Of Quotes

In [46]:
#opening the Quotes page on automated chrome browser
driver=webdriver.Chrome()
driver.get("https://www.azquotes.com/")
#maximize chrome window
driver.maximize_window()

# Clicking on the "Top Quote" option
TopQuote= driver.find_element(By.XPATH,"/html/body/div[1]/div[1]/div[1]/div/div[3]/ul/li[5]/a")
TopQuote.click()

# Initializing empty lists to store scraped data
Quotes=[]
Authors=[]
Types_of_Author=[]

# Define start and end page numbers for scraping
start=0
end=10

# Set the maximum number of quotes to scrape
max_Quote= 1000

# Variables to track the total number of quotes scraped for each category
total_Quotes= 0
total_Authors = 0
total_Types_of_Author = 0

# Loop through each page in the specified range
for page in range(start,end):
    # Scraping quotes
    if page == 0:
        pass
    else:
        next_button= driver.find_element(By.XPATH, '//li[@class="next"]').click()
        time.sleep(3)
    Quote_tag= driver.find_elements(By.XPATH, '//a[@class="title"]')
    for i in Quote_tag:
        Quote=i.text
        Quotes.append(Quote)
        total_Quotes += 1
        # Checking if the maximum number of products has been reached
        if total_Quotes >= max_Quote:
            break
       
    # Scraping authors
    Author_name= driver.find_elements(By.XPATH, '//div[@class="author"]')
    for i in Author_name:
        Author=i.text
        Authors.append(Author)
        total_Authors += 1
        if total_Authors >= max_Quote:
            break
      
    # Scraping types of authors
    Types_of_Author_tag= driver.find_elements(By.XPATH, '//div[@class="tags"]')
    for i in Types_of_Author_tag:
        Author_type=i.text
        Types_of_Author.append(Author_type)
        total_Types_of_Author += 1
        if total_Types_of_Author >= max_Quote:
            break
            

# Creating a DataFrame from the scraped data
df = pd.DataFrame({"Quotes":Quotes,"Authors" : Authors,"Types of Author":Types_of_Author})
df

,Quotes,Authors,Types of Author
0,The essence of strategy is choosing what not t...,Michael Porter,"Essence, Deep Thought, Transcendentalism"
1,One cannot and must not try to erase the past ...,Golda Meir,"Inspiration, Past, Trying"
2,Patriotism means to stand by the country. It d...,Theodore Roosevelt,"Country, Peace, War"
3,Death is something inevitable. When a man has ...,Nelson Mandela,"Inspirational, Motivational, Death"
4,You have to love a nation that celebrates its ...,Erma Bombeck,"4th Of July, Food, Patriotic"
...,...,...,...
995,Regret for the things we did can be tempered b...,Sydney J. Harris,"Love, Inspirational, Motivational"
996,America... just a nation of two hundred millio...,Hunter S. Thompson,"Gun, Two, Qualms About"
997,For every disciplined effort there is a multip...,Jim Rohn,"Inspirational, Greatness, Best Effort"
998,"The spiritual journey is individual, highly pe...",Ram Dass,"Spiritual, Truth, Yoga"
999,The mind is not a vessel to be filled but a fi...,Plutarch,"Inspirational, Leadership, Education"

7.Write a python program to display list of respected former Prime Ministers of India (i.e. Name,
Born-Dead, Term of office, Remarks) from https://www.jagranjosh.com/general-knowledge/list-ofall-prime-ministers-of-india-1473165149-1

In [66]:
#opening the given url on an automated chrome browser
driver=webdriver.Chrome()
driver.get("https://www.jagranjosh.com/general-knowledge/list-ofall-prime-ministers-of-india-1473165149-1#itemdiv")
#maximize chrome window
driver.maximize_window()
time.sleep(10)

# Try to find the table element
try: 
    table_element=driver.find_element(By.XPATH,'/html/body/div[1]/main/div[1]/div[1]/article/div[3]/div[6]/div/table')
    correct_index ='6'
    time.sleep(3)
except:
    table_element=driver.find_element(By.XPATH,'/html/body/div[1]/main/div[1]/div[1]/article/div[3]/div[7]/div/table')
    correct_index ='7'
    time.sleep(3)
    


# Initializing empty lists to store scraped data
PM_Name=[]
Born_Dead=[]
Term_of_office=[]
Remark=[]

# Scraping data from the table
for i in range(1,20):
    # Scraping PM Name
    Name_tag = driver.find_element(By.XPATH, '//*[@id="itemdiv"]/div[3]/div[' + correct_index + ']/div/table/tbody/tr[' + str(i+1) + ']/td[2]/div').text
    
    # Scraping Born and Dead years
    Born_Dead_year = driver.find_element(By.XPATH, '//*[@id="itemdiv"]/div[3]/div[' + correct_index + ']/div/table/tbody/tr[' + str(i+1) + ']/td[3]/div').text
    
    # Scraping Terms of Office years
    Term_of_office_yr = driver.find_element(By.XPATH, '//*[@id="itemdiv"]/div[3]/div[' + correct_index + ']/div/table/tbody/tr[' + str(i+1) + ']/td[4]').text
    
    # Scraping Remark
    Remark_tag = driver.find_element(By.XPATH, '//*[@id="itemdiv"]/div[3]/div[' + correct_index + ']/div/table/tbody/tr[' + str(i+1) + ']/td[5]/div').text
   
    # Appending scraped data to respective lists
    PM_Name.append(Name_tag)
    Born_Dead.append(Born_Dead_year)
    Term_of_office.append(Term_of_office_yr)
    Remark.append(Remark_tag)
    
# Creating a DataFrame from the scraped data   
df = pd.DataFrame({'PM Name':PM_Name,'Born_Dead':Born_Dead,'Term of office':Term_of_office,'Remark':Remark})
df

,PM Name,Born_Dead,Term of office,Remark
0,Jawahar Lal Nehru,(1889–1964),"15 August 1947 to 27 May 1964\n16 years, 286 days",The first prime minister of India and the long...
1,Gulzarilal Nanda (Acting),(1898-1998),"27 May 1964 to 9 June 1964,\n13 days",First acting PM of India
2,Lal Bahadur Shastri,(1904–1966),"9 June 1964 to 11 January 1966\n1 year, 216 days",He has given the slogan of 'Jai Jawan Jai Kisa...
3,Gulzari Lal Nanda (Acting),(1898-1998),11 January 1966 to 24 January 1966\n13 days,-
4,Indira Gandhi,(1917–1984),"24 January 1966 to 24 March 1977\n11 years, 59...",First female Prime Minister of India
5,Morarji Desai,(1896–1995),"24 March 1977 to 28 July 1979 \n2 year, 126 days",Oldest to become PM (81 years old) and first t...
6,Charan Singh,(1902–1987),28 July 1979 to 14 January 1980\n170 days,Only PM who did not face the Parliament
7,Indira Gandhi,(1917–1984),"14 January 1980 to 31 October 1984\n4 years, 2...",The first lady who served as PM for the second...
8,Rajiv Gandhi,(1944–1991),"31 October 1984 to 2 December 1989\n5 years, 3...",Youngest to become PM (40 years old)
9,V. P. Singh,(1931–2008),2 December 1989 to 10 November 1990\n343 days,First PM to step down after a vote of no confi...
10,Chandra Shekhar,(1927–2007),10 November 1990 to 21 June 1991\n223 days,He belongs to Samajwadi Janata Party
11,P. V. Narasimha Rao,(1921–2004),"21 June 1991 to 16 May 1996\n4 years, 330 days",First PM from South India
12,Atal Bihari Vajpayee,(1924- 2018),16 May 1996 to 1 June 1996\n16 days,PM for shortest tenure
13,H. D. Deve Gowda,(born 1933),1 June 1996 to 21 April 1997\n324 days,He belongs to Janata Dal
14,Inder Kumar Gujral,(1919–2012),21 April 1997 to 19 March 1998 \n332 days,------
15,Atal Bihari Vajpayee,(1924-2018),"19 March 1998 to 22 May 2004 \n6 years, 64 days",The first non-congress PM who completed a ful...
16,Manmohan Singh,(born 1932),"22 May 2004 to 26 May 2014 \n10 years, 4 days",First Sikh PM
17,Narendra Modi,(born 1950),26 May 2014 - 2019,4th Prime Minister of India who served two con...
18,Narendra Modi,(born 1950),30 May 2019- Incumbent,First non-congress PM with two consecutive ten...

8.Write a python program to display list of 50 Most expensive cars in the world
(i.e. Car name and Price) from https://www.motor1.com/
This task will be done in following steps:
1. First get the webpage https://www.motor1.com/
2. Then You have to type in the search bar ’50 most expensive cars’
3. Then click on 50 most expensive carsin the world..
4. Then scrap thementioned data and make the dataframe

In [156]:
# Opening the motor1.com website on an automated Chrome browser
driver=webdriver.Chrome()
driver.get("https://www.motor1.com/")
#maximize chrome window
driver.maximize_window()
time.sleep(10)

# Entering the 50 most expensive cars
Cars= driver.find_element(By.XPATH, '//input[@class="m1-search-panel-input m1-search-form-text"]')
Cars.send_keys('50 Most expensive cars in the world')

# Clicking on the search button
Search= driver.find_element(By.XPATH,'//*[@id="header_search_form"]/button[1]')
Search.click()

# Clicking on the article link for the list of expensive cars
Expensive_Cars= driver.find_element(By.XPATH, '//*[@id="page_index_articles_search"]/div[9]/div/div[1]/div/div/div[1]/div/div[1]/h3/a')
Expensive_Cars.click()

# Initializing empty lists to store scraped data
Name=[]
Price=[]

# Scraping the names and prices of the cars
for car_index in range(1,51):
    # Scraping car name
    cars_name=driver.find_element(By.XPATH,'//*[@id="article_box"]/div[1]/div[2]/div[2]/h3['+str(car_index) +']').text
    # Scraping car price
    cars_price=driver.find_element(By.XPATH,'//*[@id="article_box"]/div[1]/div[2]/div[2]/p[' +str(car_index*2+2) + ']/strong').text
    
    # Check if the price text contains a colon (":")
    if ":" in cars_price:
        # If there is a colon, split the string at the colon and take the second part
        Car_Prices = cars_price.split(":")
        # Strip any leading or trailing whitespace from the second part and append to the Price list
        Price.append(Car_Prices[1].strip())
    else:
        # If there is no colon, directly append the entire price text to the Price list
        Price.append(cars_price)
    
    # Appending the car name to the car_names list
    Name.append(cars_name)
    

 
 # Creating a DataFrame from the scraped data   
df = pd.DataFrame({'Car Name':Name,'Car Price':Price})
df

                              Car Name             Car Price
0                  Aston Martin Valour          $1.5 Million
1                         McLaren Elva          $1.7 Million
2                          Czinger 21C          $1.7 Million
3                        Ferrari Monza          $1.7 Million
4                   Gordon Murray T.33          $1.7 Million
5                    Koenigsegg Gemera          $1.7 Million
6                          Zenvo TSR-S          $1.7 Million
7                   Hennessey Venom F5          $1.8 Million
8                      Bentley Bacalar          $1.9 Million
9        Hispano Suiza Carmen Boulogne          $1.9 Million
10              Bentley Mulliner Batur          $2.0 Million
11                        Deus Vayanne          $2.0 Million
12                         SSC Tuatara          $2.0 Million
13                         Lotus Evija          $2.1 Million
14                 Aston Martin Vulcan          $2.3 Million
15                          Delage D12          $2.3 Million
16                 Ferrari Daytona SP3          $2.3 Million
17                   McLaren Speedtail          $2.3 Million
18                        Rimac Nevera          $2.4 Million
19                       Pagani Utopia          $2.5 Million
20                Pininfarina Battista          $2.5 Million
21                  Gordon Murray T.50          $2.6 Million
22                Lamborghini Countach          $2.6 Million
23            Mercedes-AMG Project One          $2.7 Million
24                        Zenvo Aurora          $2.8 Million
25                 Aston Martin Victor          $3.0 Million
26         Hennessey Venom F5 Roadster          $3.0 Million
27                    Koenigsegg Jesko          $3.0 Million
28               Aston Martin Valkyrie          $3.2 Million
29           W Motors Lykan Hypersport          $3.4 Million
30                       McLaren Solus          $3.5 Million
31                    Lamborghini Sian          $3.6 million
32                    Koenigsegg CC850          $3.7 Million
33     Bugatti Chiron Super Sport 300+          $3.9 Million
34                  Lamborghini Veneno          $4.5 Million
35                      Bugatti Bolide          $4.7 Million
36           Pininfarina B95 Speedster          $4.8 Million
37                     Bugatti Mistral          $5.0 Million
38                 Pagani Huayra Imola          $5.4 Million
39                        Bugatti Divo          $5.8 Million
40                 SP Automotive Chaos          $6.4 Million
41                    Pagani Codalunga          $7.4 Million
42                        777 Hypercar          $7.5 Million
43            Mercedes-Maybach Exelero          $8.0 Million
44                  Bugatti Centodieci          $9.0 Million
45             Bugatti Chiron Profilée         $10.8 Million
46                Rolls-Royce Sweptail         $12.8 Million
47            Bugatti La Voiture Noire         $13.4 Million
48              Rolls-Royce Boat Tail*  $28.0 Million (est.)
49  Rolls-Royce La Rose Noire Droptail    $30 Million (est.)